.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store
go.work.sum

**/command-output/

.idea/
*.iml

yarn.lock
.yarn/
.pnp*
**/pulumiManifest.go

ci-scripts
provider/**/schema.go
**/version.txt
**/nuget
**/dist

# Ignore local build tracking directory
.make
